.main-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  font-weight: var(--fw-semibold);
  cursor: pointer;
  position: relative;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.325);
}

.s-light-button {
  background: hsl(var(--neutral-white));
}

.s-light-button:hover {
  background: #d3d2d2;
}

.s-dark-button {
  background: hsl(var(--neutral-dm-dark-blue));
  color: hsl(var(--neutral-lm-very-light-gray));
}

.s-dark-button:hover {
  background: #424d57;
}

.icon {
  margin: 0.25rem 0 0;
}

@media screen and (max-width: 767px) {
  .button-component {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .button-component.center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-button {
    font-size: 16px;
    padding: 0.5rem 0 !important;
    width: 150px;
    text-align: center;
  }

  .icon {
    margin: 0.25rem 0 0;
  }
}
