.theme-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: var(--main-transition);
}

.theme-box:hover {
  color: #878383;
}

ion-icon {
  font-size: 20px;
}

.theme-box p {
  font-weight: var(--fw-bold);
}
