.title {
  display: flex;
  align-items: center;
  margin: 2rem 0 0.75rem;
  padding: 1rem 1.25rem;
  gap: 2.5rem;
  border: none;
  border-radius: 5px;
  background: hsl(var(--neutral-white));
  box-shadow: var(--main-bs);
  cursor: pointer;
}

.filter-box {
  position: absolute;
  right: 0;
  width: 12.18rem;
  max-height: 0;
  border: none;
  border-radius: 5px;
  background: hsl(var(--neutral-white));
  opacity: 0;
  z-index: 1000;
  overflow: hidden;
}

.filter-box.open {
  max-height: 500px;
  opacity: 1;
}

.filter-title {
  font-size: 14px;
  font-weight: var(--fw-semibold);
}

.filter-list {
  padding: 1rem 1.25rem;
  border: none;
  background: hsl(var(--neutral-white));
  box-shadow: var(--main-bs);
}

.filter-list-item {
  font-size: 14px;
  margin: 0.5rem 0;
  font-weight: var(--fw-semibold);
  list-style: none;
  cursor: pointer;
}

.filter-list-item:hover {
  transform: scale(1.1);
}

.filter-list-item:last-child {
  margin: 0.5rem 0 0;
}

.dark-mode .filter-list {
  background: hsl(var(--neutral-dm-dark-blue));
  color: hsl(var(--neutral-white));
}

.dark-mode .title {
  background: hsl(var(--neutral-dm-dark-blue));
  color: hsl(var(--neutral-white));
}

@media screen and (max-width: 768px) {
  .title {
    justify-content: space-between;
    padding: 1.5rem 1.25rem;
    width: 60%;
  }

  .filter-box {
    left: 0;
    width: 50%;
  }

  .filter-box.open {
    max-height: 31.25rem;
  }
}
