.main-header {
  padding: 2rem 0;
  width: 100%;
  box-shadow: var(--main-bs);
  margin-bottom: 0.125rem;
  background: hsl(var(--neutral-white));
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1440px;
  margin: 0 auto;
}
