.dark-mode {
  min-height: 100vh;
  background: hsl(var(--neutral-dm-very-dark-blue));
  color: hsl(var(--neutral-white));
}

.light-container {
  min-height: 100vh;
  background: hsl(var(--neutral-lm-very-light-gray));
}

.countries-container {
  position: relative;
  margin: 2rem 0;
}

.home-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.input-box {
  position: relative;
}

.search-input-box {
  display: flex;
  align-items: center;
  width: 40%;
}

.search-input-box input {
  margin: 2rem 0 0;
  padding: 1rem 0 1rem 3rem;
  width: 100%;
  font-size: 1rem;
  font-weight: var(--fw-bold);
  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: var(--main-bs);
}

.s-light-input,
.s-light-input::placeholder {
  color: hsl(var(--neutral-lm-dark-gray));
}

.s-light-input:hover {
  background: #f5eeee;
}

.s-dark-input {
  background: hsl(var(--neutral-dm-dark-blue));
  color: hsl(var(--neutral-lm-very-light-gray));
}

.s-dark-input::placeholder {
  color: hsl(var(--neutral-lm-very-light-gray));
}

.s-dark-input:hover {
  background: #424d57;
}

.mag-icon {
  position: absolute;
  left: 1rem;
  top: 3.5rem;
  font-size: 1.125rem;
}

.filters-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.country-container {
  position: relative;
  width: 100%;
  min-width: 340px;
}

.country-box img {
  max-width: 100%;
  object-fit: cover;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 1.725rem;
}

.button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 768px) {
  .container-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .container-grid {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  }
}

@media screen and (max-width: 600px) {
  .dark-mode,
  .light-container {
    min-height: auto;
  }

  .home-wrapper {
    max-width: 90%;
    margin: 0 auto;
  }

  .filters-box {
    display: block;
    width: 100%;
  }

  .search-input-box {
    width: 100%;
  }

  .search-input-box input {
    margin: 2rem 0 3rem;
    padding: 1rem 0 1rem 5rem;
    width: 100%;
    font-weight: var(--fw-semibold);
  }

  .mag-icon {
    top: 3.175rem;
  }

  .country-box img {
    max-width: 100%;
    object-fit: cover;
  }

  .container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 1.725rem;
  }
}
