.container {
  background: hsl(var(--neutral-lm-very-light-gray));
}

.home-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
}

.country-container {
  width: calc(25% - 16px);
  margin: 8px;
}

.button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
