.dark-mode {
  min-height: 100vh;
  background: hsl(var(--neutral-dm-very-dark-blue));
  color: hsl(var(--neutral-white));
}

.light-container {
  min-height: 100vh;
  background: hsl(var(--neutral-lm-very-light-gray));
}

.countries-container {
  position: relative;
  margin: 2rem 0;
}

.input-box {
  position: relative;
}

.search-input-box {
  display: flex;
  align-items: center;
  width: 40%;
}

.search-input-box input {
  margin: 2rem 0 0;
  padding: 1rem 0 1rem 3rem;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: var(--main-bs);
}

.s-light-input,
.s-light-input::placeholder {
  color: hsl(var(--neutral-lm-dark-gray));
}

.s-light-input:hover {
  background: #f5eeee;
}

.s-dark-input {
  background: hsl(var(--neutral-dm-dark-blue));
  color: hsl(var(--neutral-lm-very-light-gray));
}

.s-dark-input::placeholder {
  color: hsl(var(--neutral-lm-very-light-gray));
}

.s-dark-input:hover {
  background: #424d57;
}

.mag-icon {
  position: absolute;
  left: 1rem;
  top: 3.5rem;
  font-size: 18px;
}

.countries-select {
  padding: 1rem;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: var(--main-bs);
  font-weight: var(--fw-semibold);
}

.countries-select option {
  font-weight: var(--fw-semibold);
  margin: 0.5rem 0;
  border: none;
  border-radius: 5px;
}

.countries-select:hover {
  background: #f6f8f8;
}

.filters-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.home-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 1.725rem;
}

.country-container {
  position: relative;
  width: 100%;
  min-width: 340px; /* Largura mínima para evitar esticamento */
}

/* Defina uma largura máxima para as imagens */
.country-box img {
  max-width: 100%;
}

/* Ajuste o layout para 4 containers por linha */
@media (min-width: 768px) {
  .container-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Quando houver menos de 4 países, exiba-os lado a lado */
@media (max-width: 768px) {
  .container-grid {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  }
}
