.page-up {
  padding: 0.25rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border: none;
  border-radius: 50%;
  background: hsl(var(--neutral-lm-dark-gray));
  color: #fff;
  cursor: pointer;
  opacity: 0;
}

.page-up.visible {
  opacity: 1;
}
